{% load static tailwind_tags %}
<!DOCTYPE html>
<html lang="en">
	<head>
    <title>{% block title %}{% endblock %}</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="ie=edge">
		{% tailwind_css %}
	</head>

	<body class="bg-iblack text-iwhite font-serif leading-normal tracking-normal">
		<header>
			<nav class="flex items-center justify-between flex-wrap bg-iiblack p-1 px-4 shadow-nav">
				<div class="flex items-center flex-no-shrink mr-6">
				  <span class="font-preosper text-logo tracking-tight text-ired">libra</span>
				</div>
				<div class="block lg:hidden">
				  <button class="flex items-center px-3 py-2 border rounded text-iwhite border-teal-light hover:text-ired hover:border-ired">
					
				</button>
				</div>
				<div class="w-full block flex-shrink lg:flex lg:items-center lg:w-auto ">
				  <div class="text-sm lg:flex-grow">
					<a href="{% url ''%}" class="block mt-4 lg:inline-block lg:mt-0 text-iwhite hover:text-ired mr-4 font-helvetica text-reg">
					 	Home
					</a>
					<a href="{% url ''%}" class="block mt-4 lg:inline-block lg:mt-0  text-iwhite hover:text-ired mr-4 font-helvetica text-reg">
						Library
					</a>
					<a href="{% url ''%}" class="block mt-4 lg:inline-block lg:mt-0  text-iwhite hover:text-ired mr-4 font-helvetica text-reg">
						Accounts
					</a>
				  </div>
				  <div class="hover:text-ired">
					<a href="#" class="inline-block text-sm px-12 py-2 leading-none border rounded text-iwhite bg-ired border-ired mt-4 lg:mt-0 ">
						<span class="text-iwhite text-reg font-helvetica ">Login</span>
					</a>
				  </div>
				</div>
			  </nav>
		</header>
		<div class="container mx-auto">
			<div class="bg-white dark:bg-gray-800 flex relative z-20 items-center overflow-hidden">
				<div class="container mx-auto px-6 flex relative py-16">
					<div class="sm:w-2/3 lg:w-2/5 flex flex-col relative z-20">
						<span class="w-20 h-2 bg-gray-800 dark:bg-white mb-12">
						</span>
						<h1 class="font-nexus uppercase text-title tracking-title sm:text-8xl font-black flex flex-col leading-none dark:text-white text-gray-800">
							<span>KNWOLEDGE AT</span> 
							<span>YOUR HANDS</span>
						</h1>
						<p class="text-sm sm:text-base text-gray-700 dark:text-white">
							Welecome to your favorite library,
							enjoy your life	
						</p>
						<div class="flex mt-8">
							<a href="#" class="uppercase py-2 px-4 rounded-lg bg-pink-500 border-2 border-transparent text-white text-md mr-4 hover:bg-pink-400">
								Get started
							</a>
							<a href="#" class="uppercase py-2 px-4 rounded-lg bg-transparent border-2 border-pink-500 text-pink-500 dark:text-white hover:bg-pink-500 hover:text-white text-md">
								Read more
							</a>
						</div>
					</div>
					<div class="hidden sm:block sm:w-1/3 lg:w-3/5 relative">
						<img src="https://www.tailwind-kit.com/images/object/10.png" class="max-w-xs md:max-w-sm m-auto"/>
					</div>
				</div>
			</div>
			{% block main-content %}
			{% endblock %}
		</div>
		<footer>
		
		</footer>
	</body>
</html>
