{% extends 'appbib/base.html' %}
{% load static %}
{% block title %} Login - Bib {% endblock %}

{% block main-content %}

<div class="container mx-auto h-screen w-full justify-center items-center flex flex-col "
    style="background-image: url('/static/appbib/books.png'); background-repeat: repeat; background-size: auto;">
    <form action="?next=/profil/" method="post" class="flex-1 bg-iblack p-10 max-w-3xl w-full drop-shadow-sm flex flex-col">
        {% csrf_token %}
        <h2 class="text-iwhite text-center font-helvetica-black text-logo">Login</h2>
        <section class="flex-1 flex flex-col gap-3 justify-center">
            {% if form.non_field_errors %}
            <p class="text-red-500">{{ form.non_field_errors }}</p>
            {% endif %}
            <div class="flex flex-col gap-10"> 
                {% if form.username.errors %}
                <p class="text-red-500">{{ form.username.errors }}</p>
                {% endif %}
                <input type="text" name="username" placeholder="Email" class="text-iwhite w-full px-4 py-2 bg-iblack border-b-2 border-b-gray-500 focus:outline-none font-helvetica-ultra-light">
                {% if form.password.errors %}
                <p class="text-red-500">{{ form.password.errors }}</p>
                {% endif %}
                <input type="password" name="password" placeholder="Password" class="text-iwhite w-full px-4 py-2 bg-iblack border-b-2 border-b-gray-500 focus:outline-none font-helvetica-ultra-light">
            </div>
            <p class="mt-8 text-xs font-light text-center text-gray-400"> Don't have an account? <a href="{% url 'singup' %}" class="font-medium text-gray-700 dark:text-gray-200 hover:underline">Create One</a></p>
            <p class="mt-8 text-xs font-light text-center text-gray-400"> Forgot your password? <a href="{% url 'singup' %}" class="font-medium text-gray-700 dark:text-gray-200 hover:underline">Forgot password</a></p>
        </section>
        <button type="submit" class="w-2/6 text-sm py-2 leading-none border rounded text-iwhite bg-ired self-center">
            <span class="text-iwhite text-reg font-helvetica ">Login</span>
        </button>
    </form>
</div>
{% endblock main-content %}
